<!DOCTYPE html>
 <html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- BEGIN HEAD -->

<head th:fragment="head(title,cssPaths)">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">

    <meta name="description" content="Violate Responsive Admin Template">
    <meta name="keywords" content="Super Admin, Admin, Template, Bootstrap">

    <title th:text="${title}">Super Admin Responsive Template</title>
    <!-- CSS -->
    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/css/animate.min.css}" rel="stylesheet">
    <link th:href="@{/assets/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/assets/css/form.css}" rel="stylesheet">
    <link th:href="@{/assets/css/calendar.css}" rel="stylesheet">
    <link th:href="@{/assets/css/style.css}" rel="stylesheet">
    <link th:href="@{/assets/css/icons.css}" rel="stylesheet">
    <link th:href="@{/assets/css/generics.css}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" th:each="cssPath,status:${#strings.setSplit(cssPaths,',')}" th:href="@{${cssPath}}"/>

</head>
<!-- END HEAD -->


</html>